
/* *{border: 1px solid red;} */
*{box-sizing: border-box;}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  color: #00B7FF;
}
.line {
    fill: none;
    /*stroke: #aaa;
    stroke: #43484c;
    stroke: #405275;
    stroke: rgba(40, 53, 79, .95);
    stroke: #161719;
    stroke: #f99e1a;*/
    stroke: #f89e35;
    stroke-width: 2px;
    stroke-dasharray:1000;
    stroke-dashoffset: 1000;
    animation: dash 2s forwards;
}
@keyframes dash{
    from{
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: 0;
    }
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
