
/* *{border: 1px solid red;} */
*{box-sizing: border-box;}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  color: #00B7FF;
}
.line {
    fill: none;
    stroke: #f89e35;
    stroke-width: 2px;
    stroke-dasharray:1500;
    stroke-dashoffset: 1500;
    animation: dash 2s forwards;
}
@keyframes dash{
    from{
        stroke-dashoffset: 1500;
    }
    to{
        stroke-dashoffset: 0;
    }
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#legend{
  margin-top: 10px;
}

#wuLeg{
  float: left;
  padding: 10px;
  height: 20px;
  border-radius: 3px;
  background: #f89e35;
}
